<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyhd.service.dao.db.mapper.IdWithTimeMakerMapper" >
  
  <insert id="insert" parameterType="idWithTimeMaker">
    <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">SELECT LAST_INSERT_ID() as id</selectKey>
    insert into id_withtimemaker (mark) values (#{mark})
  </insert>
  
  <select id="truncate">
  	TRUNCATE TABLE id_withtimemaker ;
  </select>
  
</mapper>