<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyhd.service.dao.db.mapper.UserExchangeIntegralLogMapper">

	<insert id="insert" parameterType="com.cyhd.service.dao.po.UserExchangeIntegralLog">
		<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">SELECT LAST_INSERT_ID() as id</selectKey>
	    insert into money_user_exchange_integral_log (user_id, source, radio, createtime, integral,rmb,remark,did,client_type)
	    values (
	      #{user_id}, 
	      #{source}, 
	      #{radio}, 
	      now(), 
	      #{integral},
	      #{rmb} ,#{remark},#{did},#{client_type}
	      ) 
	</insert>
	
	<!-- <select id="getListByUserId" resultType="com.cyhd.service.dao.po.UserExchangeIntegralLog" parameterType="int">
		select * from money_user_exchange_integral_log  
			where user_id=#{0} and source=#{1} and client_type=#{2} ORDER BY createtime DESC LIMIT #{3},#{4}
	</select> -->
</mapper>
